/*RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*###################################################*/

.portfolio-main {
	outline: 1px solid;
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #CCCCCC;
}

.portfolio.side-bar {
	width: 150px;
	float: left;
	margin: 5px;
	/* margin-top: 45px; */
	/* background-color: #FFFFFF; */
	border-right: 1px solid rgb(145, 145, 145);
	/* border-radius: 5px; */
	padding-top: 33px;
	margin-top: 15px;
}


.side-tabs {
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	text-transform: uppercase;
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
}

.side-tabs li {
	margin-bottom: 10px;
	background-color: rgb(200, 253, 253);
	padding: 7px;
	text-align: center;
	cursor: pointer;
}

.side-tabs li:hover {
	background-color: #99CCFF;
}

.main-wrap {
	display: flex;
}

.portfolio.content-wrap {
	float: right;
	margin: 5px;
	/* background-color: #FFFFFF; */
	/* border: 1px solid rgb(145, 145, 145); */
	/* border-radius: 5px; */
}

.top-tabs {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	margin-top: 5px;
}

.top-tabs li {
	display: inline-block;
	margin-right: 5px;
	background-color: rgb(200, 253, 253);
	padding: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
	cursor: pointer;
}

.top-tabs li:hover {
	background-color: #99CCFF;
}

.content {
	background-color: #FFFFFF;
	margin-top: 9px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid rgb(145, 145, 145); 
}

footer {
	clear: both;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	font-size: 0.9em;
}

.hide {
	display: none;
}

.side-tabs .select {
	background-color: rgb(236, 255, 255);
}

.top-tabs .select {
	background-color: rgb(236, 255, 255);
}

.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.content {
	word-wrap: break-word;
	font-size: 15px;
	font-family: monospace;
	width: 800px;
}