* {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    float: left;
}

#editableForm {
    float: left;
    margin-left: 70px;
    line-height: 0;
    width: 320px;
}

    #editableForm span {
        line-height: 1.9;
    }

.clear {
    clear: both;
}

td, th {
    padding: 10px 25px;
}

thead tr:nth-child(1) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #E2E2E2;
}

.actions {
    text-align: center;
    background: white;
    padding: 0px;
}

    .editBtn {
        width: 60%;
        height: 100%;
        opacity: 0.5;
    }

    .editBtn:hover {
        opacity: 1;
    }

.inputLabel {
    width: 100px;
    display: inline-block;
}

input {
    height: 24px;
    font-size: 17px;
}

.save, .preview, .edit {
    width: 100px;
    height: 40px;
    margin-right: 10px;
}

.btns {
    text-align: center;
}