* {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 10px 25px;
    border: 1px solid grey;
}

thead tr:nth-child(1) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #E2E2E2;
}

