.container {
	width: 960px;
	margin: 0 auto;
}

.stopwatch-controls {
	margin-top: 20px;
}

.stopwatch-controls .btn-danger {
	margin-left: 20px;
}

.stopwatch-laps {
	margin-top: 20px;
}

.stopwatch-laps .alert {
	position: relative;
	font-size: 18px;
}

.stopwatch-laps .label-danger {
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 12px;
	cursor: pointer;
}

.btn-primary {
	width: 70px;
}